.frame185916-container {
  width: 100%;
  max-width: 1440px; /* Restrict max width */
  margin: 0 auto; /* Centers the content */
  padding: 0 15px; /* Adds equal padding on left & right */
  background-color: black; 
}
 
.frame185916-frame185916 {
  width: 100%;
  max-width: 100%;
  height: 2876px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  overflow: hidden;
}
 
.frame185916-home {
  top: 20px;
  left: 0px;
  width: 1440px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-nav {
  width: 1440px;
  height: 69px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.20000000298023224);
  border-style: solid;
  border-width: 0 0 1px;
  background-color: rgba(20, 20, 20, 1);
}
 
.frame185916-frame36 {
  gap: 3px; 
  top: 26px;
  left: 100px;
  width: 124px;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
 
.frame185916-union {
  width: 27px;
  height: 15px;
}
 
.frame185916-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 26px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame391 {
  gap: 27px;
  top: 25px;
  left: 507.5px;
  width: 425px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.frame185916-frame37 {
  gap: 5px;
  display: flex;
  align-items: flex-end;
  
}
 
.frame185916-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-chevrondown1 {
  width: 16px;
  height: 16px;
}

.dropdown-menu {
  list-style: none;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 10px;
  margin: 0;
  width: 150px;
  border-radius: 5px;
  position: absolute;
  top: 40px;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  flex-direction: column;
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.dropdown-menu li {
  padding: 8px 12px;
  color: white;
  font-size: 14px;
  font-family: Arial, sans-serif;
  display: block !important;
  text-align: left;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

 
.frame185916-frame411 {
  gap: 5px;
  display: flex;
  align-items: flex-end;
}
 
.frame185916-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-chevrondown2 {
  width: 16px;
  height: 16px;
}
 
.frame185916-frame40 {
  gap: 5px;
  display: flex;
  align-items: flex-end;
}
 
.frame185916-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame392 {
  gap: 5px;
  display: flex;
  align-items: flex-end;
}
 
.frame185916-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame412 {
  gap: 10px;
  top: 14px;
  left: 1252px;
  width: 88px;
  height: 40px;
  display: flex;
  padding: 6px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 0, 1, 1);
}
 
.frame185916-text15 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  text-align: left;
  line-height: 18px;
}
 
.frame185916-hero {
  gap: 80px;
  display: flex;
  padding: 112px 100px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(20, 20, 20, 1);
}
 
.frame185916-frame185887 {
  gap: 12px;
  width: 580px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame451 {
  gap: 5px;
  display: flex;
  padding: 7px 12px;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame185916-text16 {
  color: rgba(255, 0, 1, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame185886 {
  gap: 40px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-frame42 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-text17 {
  color: rgba(255, 255, 255, 1);
  width: 446px;
  height: auto;
  font-size: 56px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 62px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text18 {
  color: rgba(255, 255, 255, 1);
  width: 446px;
  height: auto;
  font-size: 19px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame471 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.frame185916-frame431 {
  gap: 5px;
  width: 149px;
  height: 56px;
  display: flex;
  padding: 10px 14.5px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 0, 1, 1);
}
 
.frame185916-text19 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-placeholder-lightbox1 {
  width: 580px;
  height: 500px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}
 
.frame185916-image1 {
  top: 0px;
  left: 0px;
  width: 580px;
  height: 500px;
  position: absolute;
}
 
.frame185916-slider-dots {
  gap: 8px;
  top: 460px;
  left: 234px;
  width: 112px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
 
.frame185916-dot1 {
  width: 16px;
  height: 16px;
}
 
.frame185916-dot2 {
  width: 16px;
  height: 16px;
}
 
.frame185916-dot3 {
  width: 16px;
  height: 16px;
}
 
.frame185916-dot4 {
  width: 16px;
  height: 16px;
}
 
.frame185916-dot5 {
  width: 16px;
  height: 16px;
}
 
.frame185916-play-button1 {
  top: 198.800048828125px;
  left: 226px;
  width: 128px;
  height: 102px;
  position: absolute;
}
 
.frame185916-services1 {
  gap: 80px;
  display: flex;
  padding: 80px 100px;
  overflow: hidden;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  background-color: rgba(25, 25, 25, 1);
}
 
.frame185916-section-title1 {
  gap: 8px;
  width: 768px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame452 {
  gap: 5px;
  display: flex;
  padding: 7px 12px;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame185916-text20 {
  color: rgba(255, 0, 1, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 40px;
  align-self: stretch;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame1858931 {
  gap: 96px;
  width: 1240px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.frame185916-content1 {
  gap: 24px;
  width: 349.3333435058594px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame1858471 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-executivemanagersanalyzingmarketingstatisticstable1 {
  width: auto;
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
}
 
.frame185916-section-title2 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-frame185897 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-text22 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-content2 {
  gap: 24px;
  width: 349.33331298828125px;
  display: flex;
  padding: 32px 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame1858472 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-section-title3 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-executivemanagersanalyzingmarketingstatisticstable2 {
  width: auto;
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
}
 
.frame185916-frame185895 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-text24 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text25 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-content3 {
  gap: 24px;
  width: 349.33331298828125px;
  display: flex;
  padding: 64px 0 0;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame1858473 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-frame185770 {
  gap: 4px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-section-title4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-executivemanagersanalyzingmarketingstatisticstable3 {
  width: auto;
  height: 229px;
  align-self: stretch;
  border-radius: 8px;
}
 
.frame185916-frame185896 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-text26 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 139.9999976158142%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text27 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame185898 {
  width: 1440px;
  height: 843px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(11, 11, 9, 1);
}
 
.frame185916-rectangle5134 {
  top: 305px;
  left: 1224px;
  width: 125px;
  height: 121px;
  position: absolute;
  border-radius: 16px;
}
 
.frame185916-rectangle5137 {
  top: 626px;
  left: 1224px;
  width: 125px;
  height: 121px;
  position: absolute;
  border-radius: 16px;
}
 
.frame185916-rectangle5135 {
  top: 626px;
  left: 750px;
  width: 125px;
  height: 121px;
  position: absolute;
  border-radius: 16px;
}
 
.frame185916-rectangle5136 {
  top: 305px;
  left: 750px;
  width: 125px;
  height: 121px;
  position: absolute;
  border-radius: 16px;
}
 
.frame185916-services2 {
  gap: 80px;
  top: 0px;
  left: 0px;
  width: 1440px;
  display: flex;
  padding: 80px 100px 112px;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.frame185916-section-title5 {
  gap: 8px;
  width: 768px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame453 {
  gap: 5px;
  display: flex;
  padding: 7px 12px;
  align-items: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 1);
}
 
.frame185916-text28 {
  color: rgba(255, 0, 1, 1);
  height: auto;
  font-size: 14px;
  font-style: Medium;
  text-align: left;
  font-family: Raleway;
  font-weight: 500;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text29 {
  color: rgba(255, 255, 255, 1);
  width: 670px;
  height: auto;
  font-size: 40px;
  font-style: Bold;
  text-align: center;
  font-family: Raleway;
  font-weight: 700;
  line-height: 52px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-categories {
  gap: 24px;
  display: flex;
  align-items: center;
}
 
.frame185916-button1 {
  gap: 8px;
  width: 184px;
  height: 56px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 0 0 1px;
  justify-content: center;
}
 
.frame185916-text30 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-button2 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}
 
.frame185916-text31 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-button3 {
  gap: 8px;
  display: flex;
  padding: 8px 16px;
  align-items: center;
  justify-content: center;
}
 
.frame185916-text32 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Raleway;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-content4 {
  gap: 64px;
  width: 1240px;
  height: 415px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.frame185916-frame185894 {
  gap: 80px;
  top: 0px;
  left: 0px;
  width: 1240px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame185916-content5 {
  gap: 24px;
  width: 580px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-content6 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-section-title6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-content7 {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame185916-text33 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-text34 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-frame1858932 {
  gap: 10px;
  height: 56px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.frame185916-frame472 {
  gap: 14px;
  display: flex;
  align-items: flex-start;
}
 
.frame185916-frame432 {
  gap: 5px;
  height: 56px;
  display: flex;
  padding: 10px 14.5px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  justify-content: center;
  background-color: rgba(255, 0, 1, 1);
}
 
.frame185916-text38 {
  color: var(--dl-color-default-white);
  height: auto;
  font-size: 16px;
  font-style: Bold;
  text-align: left;
  font-family: Raleway;
  font-weight: 700;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame185916-placeholder-lightbox2 {
  width: 580px;
  height: 415px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
}
 
.frame185916-play-button2 {
  top: 156.800048828125px;
  left: 226px;
  width: 128px;
  height: 102px;
  position: absolute;
}
 
.frame185916-play-button3 {
  top: 176px;
  left: 258px;
  width: 64px;
  height: 64px;
  position: absolute;
}
 
.frame185916-image2 {
  top: -11px;
  left: 0px;
  width: 580px;
  height: 426px;
  position: absolute;
}
 
.frame185916-fragment10 {
  display: contents;
}
 
.frame185916-text39 {
  display: inline-block;
}
 
.frame185916-fragment11 {
  display: contents;
}
 
.frame185916-text40 {
  display: inline-block;
}
 
.frame185916-fragment12 {
  display: contents;
}
 
.frame185916-text41 {
  display: inline-block;
}
 
.frame185916-fragment13 {
  display: contents;
}
 
.frame185916-text42 {
  display: inline-block;
}
 
.frame185916-fragment14 {
  display: contents;
}
 
.frame185916-text43 {
  display: inline-block;
}
 
.frame185916-fragment15 {
  display: contents;
}
 
.frame185916-text44 {
  display: inline-block;
}
 
.frame185916-fragment16 {
  display: contents;
}
 
.frame185916-text45 {
  display: inline-block;
}
 
.frame185916-fragment17 {
  display: contents;
}
 
.frame185916-text46 {
  display: inline-block;
}
 
.frame185916-fragment18 {
  display: contents;
}
 
.frame185916-text47 {
  display: inline-block;
}
 
.frame185916-fragment19 {
  display: contents;
}
 
.frame185916-text48 {
  display: inline-block;
}
 
.frame185916-fragment20 {
  display: contents;
}
 
.frame185916-text49 {
  display: inline-block;
}
 
.frame185916-fragment21 {
  display: contents;
}
 
.frame185916-text50 {
  display: inline-block;
}
 
.frame185916-fragment22 {
  display: contents;
}
 
.frame185916-text51 {
  display: inline-block;
}
 
.frame185916-fragment23 {
  display: contents;
}
 
.frame185916-text52 {
  display: inline-block;
}
 
.frame185916-fragment24 {
  display: contents;
}
 
.frame185916-text53 {
  display: inline-block;
}
 
.frame185916-fragment25 {
  display: contents;
}
 
.frame185916-text54 {
  display: inline-block;
}
 
.frame185916-fragment26 {
  display: contents;
}
 
.frame185916-text55 {
  display: inline-block;
}
 
.frame185916-fragment27 {
  display: contents;
}
 
.frame185916-text56 {
  display: inline-block;
}
 
.frame185916-titlebar {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 5px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-self: stretch;
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
 
@media(max-width: 1200px) {
  .frame185916-image1 {
    left: -2px;
    right: -75px;
    width: 620px;
    bottom: -71px;
  }
}
 
@media(max-width: 991px) {
  .frame185916-image1 {
    top: -13px;
    left: -349px;
    width: 632px;
    bottom: -295px;
    height: 479px;
    margin-right: 119px;
    padding-right: 0px;
  }
}

.footer2-wrapper {
  display: contents;
}
 
.footer2-footer2 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer2-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-content4 {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.footer2-links {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
}
 
.footer2-column {
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer2-image1 {
  height: 2rem;
}
 
.footer2-container1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
}
 
.footer2-column1 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer2-footer-links1 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-column2 {
  gap: var(--dl-space-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer2-footer-links2 {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-newslatter {
  gap: 24px;
  width: 500px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer2-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-column3-title {
  font-weight: 600;
}
 
.footer2-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-form {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: stretch;
  flex-shrink: 0;
}
 
.footer2-container2 {
  width: 365px;
  display: flex;
  align-items: flex-start;
}
 
.footer2-text-input {
  gap: 8px;
  width: 100%;
  height: 32px;
  display: flex;
  font-size: 16px;
  box-sizing: content-box;
  text-align: left;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  background-color: transparent;
}
 
.footer2-credits1 {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer2-row {
  gap: 64px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.footer2-credits2 {
  gap: 24px;
  display: flex;
  align-items: center;
}
 
.footer2-footer-links3 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
 
.footer2-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
 
.frame185916-fragment10 {
  display: contents;
}
 
.frame185916-text39 {
  display: inline-block;
}
 
.frame185916-fragment11 {
  display: contents;
}
 
.frame185916-text40 {
  display: inline-block;
}
 
.frame185916-fragment12 {
  display: contents;
}
 
.frame185916-text41 {
  display: inline-block;
}
 
.frame185916-fragment13 {
  display: contents;
}
 
.frame185916-text42 {
  display: inline-block;
}
 
.frame185916-fragment14 {
  display: contents;
}
 
.frame185916-text43 {
  display: inline-block;
}
 
.frame185916-fragment15 {
  display: contents;
}
 
.frame185916-text44 {
  display: inline-block;
}
 
.frame185916-fragment16 {
  display: contents;
}
 
.frame185916-text45 {
  display: inline-block;
}
 
.frame185916-fragment17 {
  display: contents;
}
 
.frame185916-text46 {
  display: inline-block;
}
 
.frame185916-fragment18 {
  display: contents;
}
 
.frame185916-text47 {
  display: inline-block;
}
 
.frame185916-fragment19 {
  display: contents;
}
 
.frame185916-text48 {
  display: inline-block;
}
 
.frame185916-fragment20 {
  display: contents;
}
 
.frame185916-text49 {
  display: inline-block;
}
 
.frame185916-fragment21 {
  display: contents;
}
 
.frame185916-text50 {
  display: inline-block;
}
 
.frame185916-fragment22 {
  display: contents;
}
 
.frame185916-text51 {
  display: inline-block;
}
 
.frame185916-fragment23 {
  display: contents;
}
 
.frame185916-text52 {
  display: inline-block;
}
 
.frame185916-fragment24 {
  display: contents;
}
 
.frame185916-text53 {
  display: inline-block;
}
 
.frame185916-fragment25 {
  display: contents;
}
 
.frame185916-text54 {
  display: inline-block;
}
 
.frame185916-fragment26 {
  display: contents;
}
 
.frame185916-text55 {
  display: inline-block;
}
 
.frame185916-fragment27 {
  display: contents;
}
 
.frame185916-text56 {
  display: inline-block;
}
 
.footer2root-class-name {
  fill: var(--dl-color-theme-secondary1);
  color: var(--dl-color-theme-secondary1);
  background-color: #000000;
}
 
@media(max-width: 991px) {
  .footer2-content4 {
    flex-direction: column;
  }
  .footer2-links {
    gap: var(--dl-space-space-fiveunits);
    width: 100%;
  }
  .footer2-container1 {
    gap: var(--dl-space-space-unit);
    width: 100%;
  }
  .footer2-newslatter {
    width: 100%;
  }
  .footer2-form {
    width: 100%;
    flex-direction: column;
  }
  .footer2-container2 {
    width: 100%;
  }
  .footer2-text-input {
    width: 100%;
    padding: var(--dl-space-space-halfunit);
  }
  .footer2-button {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-left: var(--dl-space-space-halfunit);
    padding-right: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-halfunit);
  }
}
 
@media(max-width: 767px) {
  .footer2-content4 {
    flex-direction: column;
  }
  .footer2-links {
    gap: var(--dl-space-space-threeunits);
    width: 100%;
    flex-direction: column;
  }
  .footer2-container1 {
    width: 100%;
  }
  .footer2-column1 {
    flex: 1;
    width: 100%;
    align-items: center;
  }
  .footer2-footer-links1 {
    align-self: center;
  }
  .footer2-column2 {
    flex: 1;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .footer2-footer-links2 {
    align-self: center;
  }
  .footer2-newslatter {
    width: 100%;
  }
  .footer2-form {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
  .footer2-container2 {
    width: 100%;
  }
  .footer2-button {
    width: 208px;
  }
  .footer2-row {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .footer2-credits2 {
    width: 100%;
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .footer2-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer2-links {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer2-container1 {
    gap: var(--dl-space-space-halfunit);
    flex-direction: column;
  }
  .footer2-column1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer2-footer-links1 {
    align-items: center;
    justify-content: center;
  }
  .footer2-column2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer2-footer-links2 {
    align-items: center;
    justify-content: center;
  }
  .footer2-actions {
    width: 100%;
  }
  .footer2-form {
    width: 100%;
    flex-direction: column;
  }
  .footer2-container2 {
    width: 100%;
  }
  .footer2-button {
    width: 100%;
  }
  .footer2-row {
    align-items: center;
    justify-content: center;
  }
  .footer2-credits2 {
    flex-direction: column;
  }
  .footer2-footer-links3 {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}